@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Sunflower:wght@300&display=swap');


h1{
    font-size: 25pt;
    font-family: 'Nanum Pen Script', cursive;
}
h2{
    font-size: 25pt;
    font-family: 'Nanum Pen Script', cursive;
}
p b{
    font-size: 15pt;
    font-style: italic;
    font-family: 'Sunflower', sans-serif;
}
p em{
    font-size: 15pt;
    font-style: italic;
    font-family: 'Sunflower', sans-serif;
}
ul li ul li{
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;
    font-family: 'Black Han Sans', sans-serif;

}